<!-- nav-bar.component.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://img.freepik.com/vecteurs-libre/modele-logo-boutique-instagram-degrade_23-2149709632.jpg?size=626&ext=jpg" alt="Shop-BAM Logo" class="me-2" style="width: 60px; height: 60px;">
      <span class="fs-2" style="color: #333;">Shop-BAM</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="afficherHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="afficherPanier()">Mon Panier
            <span class="badge bg-danger rounded-circle ms-2">{{ getTotalItems() }}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let category of categories">
              <a class="dropdown-item" href="#" (click)="filtrerParCategorie(category)">{{ category }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <form class="d-flex mx-auto" style="width: 45%;" (ngSubmit)="searchProduct()">
        <input class="form-control form-control-lg me-2 rounded-pill" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Recherchez des produits..." required>
        <button class="btn btn-success btn-lg rounded-pill" type="submit">
          <i class="fas fa-search"></i> Search 
        </button>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
