<p class="text-center font-weight-bold my-4"><span>Panier</span></p>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Désignation</th>
          <th scope="col">Prix (USD)</th>
          <th scope="col">Quantité(s)</th>
          <th scope="col">Total (USD)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of detailPanier">
          <td>{{i.produit.nom}}</td>
          <td>{{i.produit.price | currency:'USD':true}}</td>
          <td>{{i.qte}}</td>
          <td>{{i.qte * i.produit.price | currency:'USD':true}}</td>
        </tr>
        <tr class="font-weight-bold">
          <td colspan="3" class="text-right">Total :</td>
          <td>{{totalPrice | currency:'USD':true}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Section de commande -->
  <div class="text-right my-4">
    <button class="btn btn-primary">Commander</button>
    <button class="btn btn-secondary" (click)="continuerAchats()">Continuer vos achats</button>
  </div>
</div>
